<p>interpolation works!</p>

<h1>Age is {{ age }} </h1>
<h1>My Name  {{ name }} </h1>
<h1> Is Indian: {{isIndian }} </h1>
<h2 *ngFor="let age of ages">{{ age }}</h2>
<ol>
    <li *ngFor="let name of names">{{name}}</li>
</ol>

<h2 *ngFor="let product of products">{{product.name}} {{product.price}}</h2>

<table border="4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>


<table border="4">
    <thead>
        <tr>
            <th>Qualification</th>
            <th>School</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acadamic of acadamics">
            <td>{{ acadamic.qualification}}</td>
            <td>{{ acadamic.school}}</td>
            <td>{{ acadamic.year}}</td>
        </tr>
    </tbody>
</table>


<table border="4">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle }}</td>
            <td>{{vehicle.manufacturer }}</td>
            <td>{{vehicle.model }}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" width="100px" height="100px">
              </td>   
            <td>{{vehicle.id}}</td>
        </tr>
    </tbody>
</table>


