<input type="text" placeholder="search" [(ngModel)]="term">
<button (click)="filter()">filter</button>
<br>

<select [(ngModel)]="column">
    <option>account_name </option>
    <option>currency </option>
</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>dsc</option>
</select>

<button (click)="sort()">sort</button>

<table class="table table-dark">
    <thead>
        <tr>
            <td>createdAt</td>
            <td>account_name</td>
            <td>available__balance</td>
            <td>currency</td>
            <td>user_image</td>
            <td>account_name</td>
            <td>id</td>


        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{ account.createdAt }}</td>
            <td>{{ account.account_name }}</td>
            <td>{{ account.available__balance  }}</td>
            <td>{{ account.currency }}</td>
            <td>
                <img src="{{account.user_image}}" height="100px" width="100px">
            </td>
            <td>{{ account.account_number  }}</td>
            <td>{{ account.id  }}</td>
            <td>
                <button (click)="view(account.id)" class="btn btn-success">view</button>
                <button (click)="delete(account.id)"  class="btn btn-danger">delete</button>

            </td>
        </tr>

    </tbody>
</table>

<ul class="pagination">
    <li class="page-item" (click)="pagination(1)"><a class="page-link" >1</a></li>
    <li class="page-item" (click)="pagination(2)"><a class="page-link" >2</a></li>
    <li class="page-item"  (click)="pagination(3)"><a class="page-link" >3</a></li>
  </ul>