
<h1>{{ name | uppercase }}</h1>
<h1>{{ city | lowercase }}</h1>
<h1>{{ dob | date }}</h1>
<h1>{{ dob | date:'yyyy-MM-dd'}}</h1>
<h1>{{ dob | date:'dd/MM/yy' }}</h1>
<h1>{{ today }}</h1>
<h1>{{ today | date:'fullDate'}}</h1>
<h1>{{ today | date:'short'}}</h1>
<h1>{{ today | date:'shortDate' }}</h1>
<h1> {{ today | date:'mediumDate' }}</h1>
<h1>{{ today | date:'fullTime' }}</h1>
<h1>{{ today | date:'longTime'}}</h1>
<h1>{{ user | json }}</h1>


<h2>{{ price | price }}</h2>
<h2>{{ age | age }}</h2>
<h2>{{ marks | percentage }}</h2>