<div class="parent">
    <div class="left">
        <h3 routerLink="interpolation">interpolation</h3>
        <h3 routerLink="event-binding">event binding</h3>
        <h3 routerLink="two-way-binding">two way binding</h3>
        <h3 routerLink="calculator">calculator</h3>
        <h3 routerLink="rectangle">rectangle</h3>
        <h3 routerLink="square">square</h3>
        <h3 routerLink="power">power</h3>
        <h3 routerLink="event-registration">event-registration</h3>
        <h3 routerLink="employee-registration">employee-registration</h3>
        <h3 routerLink="cart">cart</h3>
        <h3 routerLink="pipes">pipes</h3>
        <h3 routerLink="cars">cars</h3>
        <h3 routerLink="stars">stars</h3>
        <h3 routerLink="gpay"> G-pay</h3>
        <h3 routerLink="bank">bank</h3>
        <h3 routerLink="vehicles">vehicles</h3>
        <h3 routerLink="posts">posts</h3>
        <h3 routerLink="gmail">gmail</h3>
        <h3 routerLink="bikes">bikes</h3>
        <h3 routerLink="create-account">createaccount</h3>
        <h3 routerLink="create-user">create-user</h3>
        <button (click)="logout()">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
